.Contact_main{
    background-color: #0a131a;
    color: white;
    padding-top: 120px;
    padding-left: 150px;
    padding-bottom: 150px;
    
}
.stext{
    color: rgb(163, 163, 163);
}
.mtext{
    font-size: 30px;
    font-weight: 500;
}
.fmain{
    background-color: #0a131a;
    color: white;
    padding-left: 150px;
    padding-top: 150px;
}
.get{
    font-size: 30px;
    font-weight: 500;
}
.iname{
    background: transparent;
    border: none;
    outline: none;
}
