/* navbar */
.navbackground{
    background-color: #0A131A;
}
.dropdown-menu {
    background-color: #333; /* set the background color */
    color: #fff; /* set the font color */
  }



  /* Footer css */
  /* #0A131A */
  .fottermain{
    height:auto;
    background-color: #0A131A;
  }
  .footerone{
    padding-top: 60px;
    width: 90%;
    margin: auto;
    
  }
  .footerparaone{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: white;
  }
  .footerparatwo{
    font-family: 'Poppins', sans-serif;
    
    font-size: 27px;
    color: white;
    
  }
  .office{
    color: white;
  }
  .Otext{
    color: rgb(153, 153, 153);
    font-weight: 500;
  }

  .green{
    color: #75dab4;
    font-size: 12px;
    position: relative;
    bottom: 8px;
  }
  .inputt{
    background: transparent;
    outline: none;
    border-radius: 50px;
    border: 1px solid gray;
    color: white;
    padding: 7px 10px 7px 10px;
    width: 300px;
    height: 47px;
}
.flast{
    display: flex;
    
}
.send{
  color: transparent;
  width: 44px;
  height: 46px;
  position: relative;
  margin-left: -45px;
  background-color: #75dab4;
  padding: 14px;
  border-radius: 50px;
  bottom: 3px;
}
.licons{
    border: 1px solid gray;
    color: transparent;
    width: 45px;
    height: 44px;
    padding: 13px;
    margin-right: 2px;
    border-radius: 50px;


  /* SLider css */



}
.licons:not(:last-child) {
  margin-right: 10px;
}
  /* media */
  @media screen and (max-width: 768px) and (min-width: 200px) {
    .fmain1 {
      width: 40%;
    }
  }

  /* new Footer css */

  .footterone{
    padding-top: 50px;
    width: 86%;
    margin: auto;
  }
  
