/* navbar */
.navbackground{
    background-color: #0A131A;
}
.dropdown-menu {
    background-color: #333; /* set the background color */
    color: #fff; /* set the font color */
  }



  /* Footer css */
  /* #0A131A */
  .fottermain{
    height: 100vh;
    background-color: #0A131A;
  }
  .footerone{
    padding-top: 60px;
    width: 84%;
    margin: auto;
    
  }
  .footerparaone{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: white;
  }
  .footerparatwo{
    font-family: 'Poppins', sans-serif;
    
    font-size: 27px;
    color: white;
    
  }
  .office{
    color: white;
  }
  .Otext{
    color: rgb(153, 153, 153);
    font-weight: 500;
  }
  .green{
    color: #75dab4;
    font-size: 12px;
  }
  .inputt{
    background: transparent;
    outline: none;
    border-radius: 50px;
    border: 1px solid gray;
    color: white;
    padding: 7px 10px 7px 10px;
    width: 400px;
}
.flast{
    display: flex;
    justify-content: space-between;
}
.send{
    color: transparent;
    width: 36px;
    height: 36px;
    position: relative;
    margin-left: -38px;
    background-color: #75dab4;
    padding: 13px;
    border-radius: 50px;
    bottom: 2px;
}
  

